# Firebase Public Config
# These are safe to include as they are used in client-side initialization
VITE_FIREBASE_API_KEY="AIzaSyAoxzkFh8PdjCLCeSjusJkW26yUbGoX6Ok"
VITE_FIREBASE_AUTH_DOMAIN="ezbah-114f9.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ezbah-114f9"
VITE_FIREBASE_STORAGE_BUCKET="ezbah-114f9.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="172185743488"
VITE_FIREBASE_APP_ID="1:172185743488:web:786637a4113c08046b3665"
VITE_FIREBASE_MEASUREMENT_ID="G-L1JW2TF8T0"
